<table>
  <tr>
    <th>Distância Km |</th>
    <th>Prazo dias</th>
  </tr>
    <% @delivery_time_line.each do |dtl|%>
     <tr>
        <td><%=dtl.init_distance%> - <%=dtl.final_distance%></td>
        <td><%=dtl.delivery_time%></td>
      </tr>
    <%end%>
</table>

<%= link_to 'Cadastrar Linha', new_delivery_time_line_path%>