<% if @shipping_companies.empty? %>
  Não há transportadoras cadastradas.
<%else%>
  <h2>Transportadoras Cadastradas</h2>
  <% @shipping_companies.each do |sc|%>
    <%= link_to(sc.name, shipping_company_path(sc.id))%>
  <% end%>
<%end%>