<% @vehicles.each do |v|%>
  <div>
    <%=v.brand_model%> -- Placa - <%=link_to v.plate, vehicle_path(v.id)%>
  </div>
<%end%>

<%=link_to 'Cadastrar Veículo', new_shipping_company_vehicle_path(@id)%>