<div>
  <%=@vehicle.plate%>
</div>  
<div>
  Marca e Modelo - <%=@vehicle.brand_model%>
</div>
<div>
  Ano - <%=@vehicle.year%>
</div>
<div>
  Capacidade de carga Kg - <%=@vehicle.weight_capacity%> 
</div>
